@use '../abstracts/' as a;

/* ====================================
Typography
==================================== */

body {
  font-family: a.$body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: a.$header-font;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 0;
  text-transform: uppercase;
}

p {
  color: #ccc;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
  text-align: center;
  text-transform: uppercase;
}

/* ====================================
TESTING TEXT
==================================== */

.post-box {
  padding: 1rem;
  margin: auto;
  max-width: 800px;
  width: 100%;

  h1,
  h2,
  h5 {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }

  h1 {
    margin-bottom: 2rem;
    text-align: center;
  }

  h4 {
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    text-transform: uppercase;
  }
}

.post-preview {
  backdrop-filter: blur(10px);
  background-color: #00000035;
  border: 1px solid white;
  margin-bottom: 2rem;
  padding: 1rem;

  p:last-child {
    margin-bottom: 0;
  }
}

.post-preview-title {
  color: #00b3ff;
  transition: 0.2s color;
}

.post-preview-title:hover {
  color: #0086c0;
}
